@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Quicksand', sans-serif;
}

.text-white\/60 {
    color: black;
}

.text-white\/80 {
    color: black;
}
  
.text-white\/50 {
    color: black;
}

.font-semibold {
    color: darkpink;
    font-weight: 600;
}